<!-- Autor: Ramiro Iván Ríos.  Copyright 2024 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Photos From Telegram!</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>

    <header>
        <h1>Vea la últimas tres fotos!</h1>
        <h3>Enviadas desde este bot en Telegram</h3>
        <h2><a href="https://t.me/demotextbot">https://t.me/demotextbot</a></h2>
    </header>

    <main>
        <article id="main_images">
        {% if images %}
            {% for image in images %}
            <!-- hay imagen <br> -->
            <img src="../static/downloads/images/{{ image }}" alt="Imagen mas reciente">
            {% endfor %}
        {% else %}
            <h3>No hay imágenes!</h3>
        {% endif %}
        </article>

        <!-- Un botón para subir imágenes -->
        <br>
        
        <form action="/post_image" method="post" enctype="multipart/form-data">
            <label for="image">Seleccione una imágen:</label>
            
            <input type="file" name="image" id="image">
            <input type="submit" value="Subir imágen">
        </form>

    </main>
    <footer>
        <address><a href="https://linkedin.com/in/ramiroivanrios" target="_blank">Ramiro Ríos @ Linkedin</a></address>
    </footer>
</body>
</html>