<!-- Autor: Ramiro Iván Ríos.  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Photos From Telegram!</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>

    <header>
        <h1>Vea la última foto, enviada desde: </h1>
        <h2><a href="https://t.me/demotextbot">https://t.me/demotextbot</a></h2>
    </header>

    <main>
        {% if images %}
            {% for image in images %}
            <!-- hay imagen <br> -->
            <img src="../static/downloads/images/{{ image }}" alt="Imagen mas reciente">
            {% endfor %}
        {% else %}
            <h3>No hay imágenes!</h3>
        {% endif %}
    </main>
    
</body>
</html>